.version.contact /* version checker */
{
	color: #000009;
	background-color: #C4A260;
}

@-ms-viewport
{
	width: 386px;
}

@-webkit-viewport
{
	width: 386px;
}

@-o-viewport
{
	width: 386px;
}

@-moz-viewport
{
	width: 386px;
}

@viewport
{
	width: 386px;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 547px;
	background-image: none;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	margin-top: -3px;
}

#page_position_content
{
	margin-bottom: -57px;
	width: 0.01px;
}

#u273,#u273-bw
{
	z-index: 2;
	height: 246px;
}

#pu274
{
	width: 0.01px;
	margin-top: 2px;
}

#u274
{
	z-index: 7;
	width: 380px;
	height: 299px;
	background-color: #1D411E;
	position: relative;
	margin-right: -10000px;
}

#widgetu356
{
	z-index: 8;
	width: 0.01px;
	height: 264px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 20px;
}

#widgetu363
{
	z-index: 9;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu363.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u364-4
{
	z-index: 10;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	line-height: 14px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u365-4
{
	z-index: 14;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

.html,#widgetu363.non-empty-st #u365-4
{
	background-color: #FFFFFF;
}

#widgetu363:hover #u365-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu363.focus-st #u365-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu363.non-empty-st #u365-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu363:hover #u365-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu363.focus-st #u365-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu369
{
	z-index: 18;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu369.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u372-4
{
	z-index: 19;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	line-height: 14px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu369.fld-err-st #u372-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u370-4
{
	z-index: 23;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu369.non-empty-st #u370-4
{
	background-color: #FFFFFF;
}

#widgetu369:hover #u370-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu369.focus-st #u370-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu363.fld-err-st #u365-4,#widgetu369.fld-err-st #u370-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu369.non-empty-st #u370-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu369:hover #u370-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu369.focus-st #u370-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu363_input,#widgetu363_prompt,#widgetu369_input,#widgetu369_prompt
{
	width: 328px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#u367-4
{
	z-index: 27;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 239px;
	left: 140px;
}

#widgetu356.frm-sub-st #u367-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u361-4
{
	z-index: 31;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 239px;
	left: 140px;
}

#widgetu356.frm-subm-err-st #u361-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u368-4
{
	z-index: 35;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	line-height: 12px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 239px;
	left: 140px;
}

#widgetu356.frm-sub-st #u367-4,#widgetu356.frm-subm-err-st #u361-4,#widgetu356.frm-subm-ok-st #u368-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu356.frm-subm-ok-st #u368-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u362-17
{
	z-index: 39;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 234px;
	background: url("../images/u362-17.png") no-repeat 0px 0px;
}

#u362-17:hover
{
	background: url("../images/u362-17-r.png") no-repeat 0px 0px;
}

#u362-17:active
{
	background: url("../images/u362-17-m.png") no-repeat 0px 0px;
}

#widgetu356.frm-sub-st #u362-17
{
	background: url("../images/u362-17-fs.png") no-repeat 0px 0px;
}

#widgetu357
{
	z-index: 56;
	width: 342px;
	height: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu357.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 101px;
	min-height: 0px;
	margin: 120px -10000px 0px 0px;
}

#u360-4
{
	z-index: 57;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	line-height: 14px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu363.fld-err-st #u364-4,#widgetu357.fld-err-st #u360-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#widgetu363.fld-err-st #u364-4 p,#widgetu363.fld-err-st #u364-4 span,#widgetu369.fld-err-st #u372-4 p,#widgetu369.fld-err-st #u372-4 span,#widgetu357.fld-err-st #u360-4 p,#widgetu357.fld-err-st #u360-4 span
{
	color: #D7244C;
}

#u358-4
{
	z-index: 61;
	width: 328px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu357.non-empty-st #u358-4
{
	background-color: #FFFFFF;
}

#widgetu357:hover #u358-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu357.focus-st #u358-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu357.fld-err-st #u358-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu357.non-empty-st #u358-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu357:hover #u358-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu357.focus-st #u358-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu363.fld-err-st #u365-4 *,#widgetu369.fld-err-st #u370-4 *,#widgetu357.fld-err-st #u358-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu357_input,#widgetu357_prompt
{
	width: 328px;
	min-height: 68px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu363.focus-st #widgetu363_prompt,#widgetu369.focus-st #widgetu369_prompt,#widgetu357.focus-st #widgetu357_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu363:hover #widgetu363_input,#widgetu363.focus-st #widgetu363_input,#widgetu363.fld-err-st #widgetu363_input,#widgetu363:hover #widgetu363_prompt,#widgetu363.fld-err-st #widgetu363_prompt,#widgetu369:hover #widgetu369_input,#widgetu369.focus-st #widgetu369_input,#widgetu369.fld-err-st #widgetu369_input,#widgetu369:hover #widgetu369_prompt,#widgetu369.fld-err-st #widgetu369_prompt,#widgetu357:hover #widgetu357_input,#widgetu357.focus-st #widgetu357_input,#widgetu357.fld-err-st #widgetu357_input,#widgetu357:hover #widgetu357_prompt,#widgetu357.fld-err-st #widgetu357_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu363.non-empty-st #widgetu363_prompt,#widgetu369.non-empty-st #widgetu369_prompt,#widgetu357.non-empty-st #widgetu357_prompt
{
	visibility: hidden;
}

#u467-4
{
	z-index: 3;
	width: 193px;
	min-height: 34px;
	margin-left: 94px;
	margin-top: 23px;
}

body
{
	position: relative;
	min-width: 386px;
}

