#u273
{
	background: transparent url("../images/screen%20shot%202015-11-30%20at%2050321%20pm.jpg") no-repeat center top;
	background-size: cover;
}

#u467-4
{
	background-color: transparent;
	color: #274021;
	line-height: 26px;
	font-size: 22px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

