.version.notifications /* version checker */
{
	color: #0000EF;
	background-color: #40EDC0;
}

@-ms-viewport
{
	width: 386px;
}

@-webkit-viewport
{
	width: 386px;
}

@-o-viewport
{
	width: 386px;
}

@-moz-viewport
{
	width: 386px;
}

@viewport
{
	width: 386px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 555.8px;
	background-image: none;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-top: -3px;
}

#page_position_content
{
	margin-bottom: -56px;
	width: 0.01px;
}

#u273
{
	z-index: 2;
	min-height: 15px;
	padding-bottom: 231px;
}

#scroll
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: -3px;
	left: 184px;
}

#u273-bw
{
	z-index: 2;
	min-height: 15px;
}

#u468
{
	z-index: 8;
	width: 383px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -1px;
	margin-top: 7px;
	position: relative;
}

#u281
{
	z-index: 9;
	width: 383px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u276
{
	z-index: 10;
	width: 377px;
	border-width: 3px;
	border-style: solid;
	border-color: #204723;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u277-7
{
	z-index: 11;
	width: 363px;
	min-height: 38px;
	background-color: transparent;
	color: #274126;
	line-height: 14px;
	font-size: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u282
{
	z-index: 18;
	width: 383px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 18px;
	position: relative;
}

#u278
{
	z-index: 19;
	width: 377px;
	border-width: 3px;
	border-style: solid;
	border-color: #204723;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u279-7
{
	z-index: 20;
	width: 363px;
	min-height: 38px;
	background-color: transparent;
	color: #274126;
	line-height: 14px;
	font-size: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u466
{
	z-index: 27;
	width: 377px;
	border-width: 3px;
	border-style: solid;
	border-color: #204723;
	background-color: transparent;
	padding-bottom: 8px;
	margin-top: 16px;
	position: relative;
}

#u465-7
{
	z-index: 28;
	width: 363px;
	min-height: 38px;
	background-color: transparent;
	color: #274126;
	line-height: 14px;
	font-size: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u467-4
{
	z-index: 3;
	width: 193px;
	min-height: 34px;
	margin-left: 94px;
	margin-top: 22px;
}

body
{
	position: relative;
	min-width: 386px;
}

