.version.settings /* version checker */
{
	color: #00000F;
	background-color: #11C566;
}

@-ms-viewport
{
	width: 386px;
}

@-webkit-viewport
{
	width: 386px;
}

@-o-viewport
{
	width: 386px;
}

@-moz-viewport
{
	width: 386px;
}

@viewport
{
	width: 386px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 509px;
	background-image: none;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	margin-top: -3px;
}

#page_position_content
{
	margin-bottom: -57px;
	width: 0.01px;
}

#u273,#u273-bw
{
	z-index: 2;
	height: 246px;
}

#u333
{
	z-index: 7;
	width: 328px;
	background-color: #1D411E;
	margin-top: 1px;
	position: relative;
	padding: 35px 28px 43px 24px;
}

#buttonu329
{
	z-index: 8;
	width: 292px;
	border-color: #787878;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 20px;
	margin-left: 20px;
	position: relative;
}

#buttonu329.ButtonSelected
{
	width: 292px;
	min-height: 0px;
	margin: 0px 0px 0px 20px;
}

#u330-4
{
	z-index: 9;
	width: 193px;
	min-height: 23px;
	background-color: transparent;
	color: #19431B;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 68px;
}

#buttonu329.ButtonSelected #u330-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 193px;
	margin: 18px -10000px 0px 0px;
}

#u331
{
	z-index: 13;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #1D411E;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 51px;
}

#buttonu329:hover #u331
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#buttonu329.ButtonSelected #u331
{
	background-color: #1D411E;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#u338-4
{
	z-index: 14;
	width: 328px;
	min-height: 128px;
	background-color: transparent;
	line-height: 26px;
	color: #FFFFFF;
	text-align: center;
	font-size: 22px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	margin-top: 35px;
	position: relative;
}

#u467-4
{
	z-index: 3;
	width: 193px;
	min-height: 34px;
	margin-left: 94px;
	margin-top: 23px;
}

body
{
	position: relative;
	min-width: 386px;
}

